.komano img{
    height: 600px;
}
.team{
    background-color: rgb(245, 220, 220);
}
.b-card{
    background-color: rgba(202, 192, 192, 0.87);
}
.paginatio{
    background-color: rgb(245, 220, 220);
}
.spinner{
    background-color: rgba(202, 192, 192, 0.87);
}